<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>

    <title> Reporte del Transformador</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <%#= stylesheet_link_tag  "https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"   %>

    <%#= stylesheet_link_tag  "http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" %>

  <%#= stylesheet_link_tag  "http://fonts.googleapis.com/css?family=Fira+Sans" %>
  <%#= javascript_tag "https://kit.fontawesome.com/a076d05399.js" %>


  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
<%#= stylesheet_link_tag "https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", skip_pipeline: true %>
<%#= wicked_pdf_stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
 


    <%= wicked_pdf_stylesheet_link_tag "report.css" -%>
    <%#= wicked_pdf_stylesheet_link_tag "iconos.css" -%>
 
    <style type="text/css">
      div.pagebr
        {
          page-break-inside:avoid;
        }
     </style>
     <style>div.alwaysbreak { page-break-inside:avoid; }</style>

     <%= javascript_include_tag "http://code.jquery.com/jquery-1.10.0.min.js" %>
     <%= javascript_include_tag "http://code.jquery.com/ui/1.10.3/jquery-ui.min.js" %>

     <script src="https://parzibyte.github.io/ejemplos-javascript/html-a-pdf/html2pdf.bundle.min.js"></script>
     <script>
      document.addEventListener("DOMContentLoaded", () => {
          // Escuchamos el click del botón
          const $boton = document.querySelector("#btnCrearPdf");
          $boton.addEventListener("click", () => {
              //const $elementoParaConvertir = document.body; // <-- Aquí puedes elegir cualquier elemento del DOM
              const $elementoParaConvertir = document.getElementById("info"); // <-- Aquí puedes elegir cualquier elemento del DOM
               $elementoParaConvertir.style.visibility = "visible"; // <== here
              html2pdf()
                  .from($elementoParaConvertir)        
                  .set({
                      margin: [0.2, 0.2, 0.2, 0.2],
                      filename: 'Reporte.pdf',
                      image: {
                          type: 'jpeg',
                          quality: 0.8
                      },
                    pagebreak: { avoid: "tr", mode: "css", before: "#logo" },
                      html2canvas: {
                          //scale: 4, // A mayor escala, mejores gráficos, pero más peso
                          scale: 3, useCORS: true, dpi: 192,
                          letterRendering: true 
                      },
                      jsPDF: {
                          unit: "in",
                          format: "A3", putTotalPages: true,
                          setFontSize: 8,

                          orientation: 'portrait' // landscape o portrait
                      }
                  })  
                  .save()
                  .catch(err => console.log(err));
                    

        

          });
      });  
     </script>

  </head>

  <body>
   
    <button id="btnCrearPdf">Click aquí</button>
   
 
    <div id="info" style="visibility: hidden"  >

      <!-- BEGIN First Page -->
      <% @count_cromas = @transformer.chromatographicals.where("deleted=0").size %>    
      <% if @count_cromas.to_i > 0 %>    
      <div id="logo2">
        <%= render partial: "transformer_management/transformers/partials_report/main_logo", :locals => {:transformer => @transformer} %>    
      </div>
      <div id="customer_data"> 
        <%= render partial: "transformer_management/transformers/partials_report/customer_data", :locals => {:transformer => @transformer} %> 
      </div>
      <div id="transformer_data">
        <%= render partial: "transformer_management/transformers/partials_report/transformer_data", :locals => {:transformer => @transformer} %>    
      </div>
      <div id="afpage">
        <%= render partial: "transformer_management/transformers/partials_report/croma_data", :locals => {:transformer => @transformer} %>    
      
      </div>        
      <% end %>    
      <!-- END First Page -->
      


      <!-- BEGIN Second Page -->
      <% if @chromatographical.iec_color_hidrogeno_report   == "success" &&
            @chromatographical.iec_color_metano_report      == "success" &&
            @chromatographical.iec_color_monocarbono_report == "success" &&
            @chromatographical.iec_color_diocarbono_report  == "success" &&
            @chromatographical.iec_color_etileno_report     == "success" &&
            @chromatographical.iec_color_etano_report       == "success" &&
            @chromatographical.iec_color_acetileno_report   == "success" %>
      <% else %>
        <!-- BEGIN DISPLAY DUVALS -->
        <% @count_cromas = @transformer.chromatographicals.where("deleted=0").size %>    
        <% if @count_cromas.to_i > 0 %>    
        <div id="logo">
          <%= render partial: "transformer_management/transformers/partials_report/main_logo", :locals => {:transformer => @transformer} %>    
        </div>
        <div id="customer_data"> 
          <%= render partial: "transformer_management/transformers/partials_report/customer_data", :locals => {:transformer => @transformer} %> 
        </div>
        <div id="transformer_data">
          <%= render partial: "transformer_management/transformers/partials_report/transformer_data", :locals => {:transformer => @transformer} %>    
        </div>
        <div id="duval_data">
          <%= render partial: "transformer_management/transformers/partials_report/duval_data", :locals => {:transformer => @transformer} %>    
        </div>        
        <% end %> 
        <!-- END DISPLAY DUVALS -->
      <% end %>  
      <!-- End Second Page -->
       
      <!-- BEGIN third Page -->
      <% @count_fiquis = @transformer.physicals.where("deleted=0").size %>    
      <% if @count_fiquis.to_i > 0 %>      
      <div id="logo" >
        <%= render partial: "transformer_management/transformers/partials_report/main_logo", :locals => {:transformer => @transformer} %>    
      </div>
      <div id="customer_data"> 
        <%= render partial: "transformer_management/transformers/partials_report/customer_data", :locals => {:transformer => @transformer} %> 
      </div>
      <div id="transformer_data">
        <%= render partial: "transformer_management/transformers/partials_report/transformer_data", :locals => {:transformer => @transformer} %>    
      </div>
      <div id="fiqui_data">
        <%= render partial: "transformer_management/transformers/partials_report/fiqui_data", :locals => {:transformer => @transformer} %>    
      </div>
      <% end %>  
      <!-- End third Page -->
   
      <!-- BEGIN fourth Page -->
      <div id="logo">
        <%= render partial: "transformer_management/transformers/partials_report/main_logo", :locals => {:transformer => @transformer} %>    
      </div>
      <div id="customer_data"> 
        <%= render partial: "transformer_management/transformers/partials_report/customer_data", :locals => {:transformer => @transformer} %> 
      </div>
      <div id="transformer_data">
        <%= render partial: "transformer_management/transformers/partials_report/transformer_data", :locals => {:transformer => @transformer} %>    
      </div>
      <div id="analysis_data">
        <%= render partial: "transformer_management/transformers/partials_report/analysis_data", :locals => {:transformer => @transformer} %>    
      </div>
      <!-- End fourth Page -->
   
    </div>
   
  </body>

</html>