<% title "Nuevo" %>
<%= links  link_to 'Novedades', [:newspaper_management,:admin_newspapers] %> 
 
<!-- begin page-header -->
<h1 class="page-header"><i class="fa-solid fa-newspaper"></i> Nueva Novedad</h1>
<!-- end page-header -->

<!-- begin form-->
<div id="myModal">
<%= render :partial =>'newspaper_management/admin_newspapers/partials/form_new'  %>
</div>
<!-- end form-->

<!-- begin layout-->
<%= render :partial =>"layouts/app_bottom_script" %>
<%= render :partial =>"layouts/form_validation" %>
<%= render :partial =>"layouts/form_plugins" %>
<!-- end layout-->