<% title "Usuarios" %>
<%= links  link_to 'Configuraciones', [:configuration_management,:configurations] %> 

 
<div class="panela">
  <!-- begin panel-body -->
  <div class="panel-body">
    <h4 class="page-header">
    <i class="fa-solid fa-user"></i> Usuarios
    
    <% if @user_permission.include?(3) %>
    <%= link_to "Nuevo",[:new_user_management,:user],{class: "btn btn-gray btn-xs"} %> 
    <% end %>

    <% if @user_permission.include?(156) %>
    <%= link_to "Vista Administrador",[:user_management,:admin_users],{class: "btn btn-gray btn-xs"} %> 
    <% end %>

    </h4>
    <h6>Total de Usuarios: <%= @users.size %></h6>

  
     
  </div>
  <!-- end panel-body -->
</div>
<!-- end panel -->
 

  <hr>

<!-- begin row -->
<div class="row">
  <!-- begin col-10 -->
  <div class=" ">
    <!-- begin panel -->
    <div class="panel panel-inverse">
      <!-- begin panel-heading -->
      <div class="panel-heading">
        <h4 class="panel-title">Listado de Usuarios</h4>
        <%= render :partial =>"layouts/panel_heading" %>
      </div>
      <!-- end panel-heading -->
      <!-- begin alert -->
      <%= flash_messages %>
      <!-- end alert -->
      <!-- begin panel-body -->
      <div class="panel-body table-responsive">
         
        <table id="data-table-buttons-filter" class="table table-striped table-bordered align-middle">
          <thead>
            <tr align="center">
              <th>País</th>
              <th>Foto</th>
              <th>Usuario</th>
              <th>Email</th>
              <th>Nombre</th>
              <th>Apellido Paterno</th>
              <th>Apellido Materno</th>
              <th>Perfil</th>
              <th>Clientes Asignados</th>
              <th>Estado</th>
              <th data-orderable="false" class="sorting_disabled"></th>
            </tr>
            <tr align="center">
              <th>País</th>
              <td> </td>
              <th>Usuario</th>
              <th>Email</th>
              <th>Nombre</th>
              <th>Apellido Paterno</th>
              <th>Apellido Materno</th>
              <th>Perfil</th>
              <th>Clientes Asignados</th>
              <th>Estado</th>
              <td></td>
            </tr>            
          </thead>
          <tbody>
            <% @users.each do |user| %>
            <tr align="center">
        
              <td><div class="flag-icon flag-icon-<%= user.country.short_name.downcase %> "></div><span style="display: none"><%= user.country.name %></span></td> 
              <td>
                <% if user.avatar_url %>
                  <%= image_tag(user.avatar_url, :size => "40x40") %>
                <% else %>
                   
                    <i class="fa fa-user-secret fa-2x"></i>
                 
                <% end %>
              </td>
              <td><%= user.username %></td>
              <td><%= user.email %></td>
              <td><%= user.name %></td>
              <td><%= user.lastname1 %></td>
              <td><%= user.lastname2 %></td>
              <td><%= user.profile.name rescue "" %></td>
              <td><%= user.user_customers.size %></td>
              <td><%= user.str_state %></td>
              <td>
                <div class="widget-list-action">
                  <a href="#" data-bs-toggle="dropdown" class="text-gray-500" aria-expanded="false"><i class="fa fa-ellipsis-h fs-14px"></i></a>
                  <div class="dropdown-menu dropdown-menu-end" style="">  
                    <% if @user_permission.include?(4) %>
                    <%= link_to "<i class='fa fa-eye'></i> Ver Usuario".html_safe, [:user_management, user] ,{:title=>"Ver",class: "dropdown-item"} %>
                    <% end %>
                    <% if @user_permission.include?(5) %>
                    <%= link_to "<i class='fa fa-pencil'></i> Editar Usuario".html_safe, [:edit, :user_management, user] ,{:title=>"Editar",:class=>"dropdown-item"} %>
                    <% end %>     
                    <% if @user_permission.include?(7) %>
                      <%# if current_user.id == 1 or current_user.id == 2 or current_user.id == 3  %>
                      <%= link_to "<i class='fa fa-key'></i> Cambiar Contraseña".html_safe, user_management_user_change_password_path( user.id) ,{:title=>"Contraseña",:class=>"dropdown-item"} %>
                      <%# end %>    
                    <% end %>                                       
                    <div class="dropdown-divider"></div>
                    <% if @user_permission.include?(6) %>
                    <%= link_to "<i class='fa fa-trash'></i> Eliminar Usuario".html_safe, [:user_management, user], method: :delete, data: {confirm: "¿Estás seguro?"},class: "dropdown-item bg-danger text-white"  %>
                    <% end %>                    
                  </div>                
                 
                
              </td>
            </tr>
            <% end %>                  
          </tbody>
        </table>
      </div>
      <!-- end panel-body -->
    </div>
    <!-- end panel -->
  </div>
  <!-- end col-10 -->
</div>
<!-- end row -->
 

<%= render :partial =>"layouts/app_bottom_script" %>
<%= render :partial =>"layouts/table_manage_buttons" %>
 