<% title "Cambiar Contraseña" %>
 
<div class="panela">
  <!-- begin panel-body -->
  <div class="panel-body">
    <h4 class="page-header">
    <i class="fa-solid fa-user"></i> Cambio de Contraseña
     <%= flash_messages %>
    </h4>
     
  </div>
  <!-- end panel-body -->
</div>
<!-- end panel -->
 
<hr>

<!-- begin row -->
<div class="row">
  <!-- begin col-10 -->

  <div class="col-xl-12 ui-sortable">
      <!-- begin panel -->
      <div class="panel panel-inverse">
        <!-- begin panel-heading -->
        <div class="panel-heading ui-sortable-handle">
          <h4 class="panel-title">Seguridad</h4>
          <div class="panel-heading-btn">
            <a href="javascript:;" title="Pantalla Completa" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand">
              <i class="fa fa-expand" aria-hidden="true"></i>
            </a>
            <a href="javascript:;" title="Ocultar / Mostrar" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse">
              <i class="fa fa-minus" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <!-- end panel-heading -->
        <!-- begin panel-body -->
        <%= form_for [:user_management, @user],:html=>{'data-parsley-validate'=>"true",:autocomplete=>"off"} do |f| %>   
        <div class="panel-body">
          <div class="form-group row m-b-15">
            <label class="col-md-4 col-sm-4 col-form-label">Nombre de Ingreso</label>
            <div class="col-md-8 col-sm-8">
                <%= text_field_tag "name",@user.username, class: 'form-control', readonly: 'true' %>
            </div>
          </div>
          <br>
          <div class="form-group row m-b-15">
            <label class="col-md-4 col-sm-4 col-form-label">Email</label>
            <div class="col-md-8 col-sm-8">
                <%= text_field_tag "email",@user.email, class: 'form-control', readonly: 'true' %>
            </div>
          </div>
          <br>          
          <div class="form-group row m-b-15">
            <label class="col-md-4 col-sm-4 col-form-label">Contraseña</label>
            <div class="col-md-8 col-sm-8">
                <%= f.password_field :password, class: 'form-control','data-parsley-required'=>"true",'data-parsley-minlength'=>"9", onChange:"clone_password()",autocomplete: "off"  %><%= f.hidden_field :real_password,id: "cloned_password" %>
            </div>
          </div>
          <br>          
          <div class="form-group row m-b-15">
            <label class="col-md-4 col-sm-4 col-form-label">Repetir Contraseña</label>
            <div class="col-md-8 col-sm-8">
                <input class="form-control" data-parsley-equalto="#user_password" data-parsley-required="true" data-parsley-minlength="9"autocomplete="off" type="password" name="user[password]" id="repeat_password">
            </div>
          </div>          
          <br>
         
          <p align="center">
            <input type="submit" name="commit" value="Guardar" class="btn btn-gray" data-disable-with="Guardar">  
            <a class="btn btn-gray" href="/user_management/users">Regresar</a>
          </p>
        </div>
        <!-- end panel-body -->
        <% end %>
      </div>
      <!-- end panel -->
    </div>
  </div>
</div>

 

<!-- begin layout-->
<%= render :partial =>"layouts/app_bottom_script" %>
<%= render :partial =>"layouts/form_validation" %>
<%= render :partial =>"layouts/form_plugins" %>
<!-- end layout-->