<% title "Nuevo" %>
<%= links  link_to 'Configuraciones', [:configuration_management,:configurations] %> 
<%= links  link_to 'Usuarios', [:user_management,:users] %> 
 
<!-- begin page-header -->
<h1 class="page-header">Nuevo Usuario</h1>
<!-- end page-header -->

<!-- begin form-->
<%= render :partial =>"user_management/users/partials/form_new",  user: @user %>
<!-- end form-->

<!-- begin layout-->
<%= render :partial =>"layouts/app_bottom_script" %>
<%= render :partial =>"layouts/form_validation" %>
<%= render :partial =>"layouts/form_plugins" %>
<!-- end layout-->