<% title "Nuevo Reporte - Paso 2" %>

<div class="panela">
  <!-- begin panel-body -->
  <div class="panel-body">
    <h4 class="page-header">
     <i class="fa-solid fa-file-chart-pie"></i> Nuevo Reporte - Paso 2
    </h4>
  </div>
  <!-- end panel-body -->
</div>
<!-- end panel -->

<hr>
 
<!-- begin row -->
<div class="row">
  <!-- begin col-10 -->
  <div class="col-xl-12 ">
    <!-- begin panel -->
    <div class="panel panel-inverse">
      <!-- begin panel-heading -->
      <div class="panel-heading bg-gray-800 text-white">
        <h4 class="panel-title"><i class="fa-solid fa-user"></i> Cliente</h4>
        <%= render :partial =>"layouts/panel_heading" %>
      </div>
      <!-- end panel-heading -->
      <!-- begin panel-body -->
      <div class="panel-body">
        <div class="table-responsive">
        <%= render :partial =>"report_management/step2_reports/partials/table_users" %>   
        </div>
      </div>
      <!-- end panel-body -->
    </div>
    <!-- end panel -->
  </div>
  <!-- end col-10 -->  
  <!-- begin col-10 -->
  <div class="col-xl-12 ">
    <!-- begin panel -->
    <div class="panel panel-inverse">
      <!-- begin panel-heading -->
      <div class="panel-heading bg-gray-800 text-white">
        <h4 class="panel-title"><i class="fa-solid fa-transformer-bolt"></i> Transformadores</h4>
        <%= render :partial =>"layouts/panel_heading" %>
      </div>
      <!-- end panel-heading -->
      <!-- begin panel-body -->
      <div class="panel-body">
        <div class="table-responsive">
        <%= render :partial =>"report_management/step2_reports/partials/table_transformers" %>   
        </div>
      </div>
      <!-- end panel-body -->
    </div>
    <!-- end panel -->
  </div>
  <!-- end col-10 -->
</div>
<!-- end row -->
 

<%= render :partial =>"layouts/app_bottom_script" %>
<%= render :partial =>"layouts/table_manage_buttons" %>

 