<!DOCTYPE html>
<html>
	<head>
	  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
	<h2>Estimado/a <%= @user.name %> <%= @user.lastname1 %>.</h2>
	<p>
	    Se ha actualizado su contraseña de acceso a <%= @site_name %>.<br/><br/>
		Su usuario es:     <%= @user.username %><br/>
		Su contraseña es:  <%= @user.real_password %><br/>
	</p>
	<p>
	  Para ingresar al sistema, por favor click en el link: <%= @url %>.
	</p>
	<p>Gracias por unirte a nosotros!.</p>
	</body>
</html>
