<div class="content__boxed w-100 min-vh-100 d-flex flex-column align-items-center justify-content-center">
  <div class="content__wrap">

    <!-- Login card -->
    <div class="card shadow-lg">
      <div class="card-body">

        <div class="text-center text-dark">
          <h1 class="h3">Actualización de Contraseña</h1>
          <p>Ingresar nueva contraseña.</p>
        </div>

        <%= form_for @user, :url => password_reset_path, :method => :put,:html=>{:autocomplete=>"off",:class=>"mt-4 needs-validation", :id=>"form-validate" } do |f| %>
          <%= f.hidden_field :username %> 
          <%= flash_messages %>
        <div class="mb-3">
          <%= f.password_field :new_password, class: 'form-control h-45px fs-13px','data-parsley-required'=>"true",'data-parsley-minlength'=>"9", onChange:"clone_password()",autocomplete: "off",:required =>true, :autofocus => :true , :placeholder=>"Nueva Contraseña" %>
          <%= f.hidden_field :real_password,id: "cloned_password" %>
          
        </div>

        <div class="mb-3">
          <input class="form-control" data-parsley-equalto="#user_new_password" data-parsley-required="true" data-parsley-minlength="9"autocomplete="off" type="password" name="user[new_password_confirmation]" id="repeat_password" required  placeholder="Confirmar Contraseña">
          
        </div>

        <div class="d-grid mt-5">
          <button class="btn btn-warning btn-lg" type="submit">Cambiar Password</button>
        </div>
        <% end %>

        <div class="text-center mt-3">
          <a href="./" class="btn-link text-decoration-none">Regresar a Login</a>
        </div>

      </div>
    </div>
    <!-- END : Login card -->
  </div>
</div>

<script>
function clone_password(){
    var total2 = $("#user_new_password").val();
    $("#cloned_password").val(total2);
}
</script>
 
 

<!-- begin layout-->
<%= render :partial =>"layouts/app_bottom_script" %>
<%= render :partial =>"layouts/form_validation" %>
<%= render :partial =>"layouts/form_plugins" %>
<!-- end layout-->