<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>

      <table id="data-table-buttonas2" class="table table-striped align-middle">
          <thead>
            <tr>
              <th class="text-nowrap text-center">Fecha </th>
              <th class="text-nowrap text-center">Hidrógeno<br>H2<br>ppm</th>
              <th class="text-nowrap text-center">Oxígeno<br>O2<br>ppm</th>
              <th class="text-nowrap text-center">Nitrógeno<br>N2<br>ppm</th>
              <th class="text-nowrap text-center">Metano<br>CH4<br>ppm</th>
              <th class="text-nowrap text-center">M.Carbono<br>CO<br>ppm</th>
              <th class="text-nowrap text-center">D.Carbono<br>CO2<br>ppm</th>
              <th class="text-nowrap text-center">Etileno<br>C2H4<br>ppm</th>
              <th class="text-nowrap text-center">Etano<br>C2H6<br>ppm</th>
              <th class="text-nowrap text-center">Acetileno<br>C2H2<br>ppm</th>
              <th class="text-nowrap text-center">Estado</th>
 
            </tr>
          </thead>
          <tbody>
            <% @export_results.each do |chromatographical| %>
            <tr>
              <td class="text-nowrap text-center"><%= chromatographical.str_date_rehearsal %></td>
              <td class="text-nowrap text-center"><%= chromatographical.num_hid %></td>
              <td class="text-nowrap text-center"><%= chromatographical.num_oxi %></td>
              <td class="text-nowrap text-center"><%= chromatographical.num_nit %></td>
              <td class="text-nowrap text-center"><%= chromatographical.num_met %></td>
              <td class="text-nowrap text-center"><%= chromatographical.num_mon %></td>
              <td class="text-nowrap text-center"><%= chromatographical.num_dio %></td>
              <td class="text-nowrap text-center"><%= chromatographical.num_eti %></td>
              <td class="text-nowrap text-center"><%= chromatographical.num_eta %></td>
              <td class="text-nowrap text-center"><%= chromatographical.num_ace %></td>
              <td class="text-nowrap text-center"><%= chromatographical.dgaf_condition %></td> 
              
            </tr>
            <% end %>                  
          </tbody>
        </table>       
  </body>
</body>