<p>
  <a title="" class="btn btn-gray btn-xs" href="/report_management/reports/<%= @report.id %>/edit?sheet=1">1.Tabla de Contenido</a>
  
  <a title="" class="btn btn-gray btn-xs" href="/report_management/reports/<%= @report.id %>/edit?sheet=2">2.Alcance y Responsables</a> 

  <a title="" class="btn btn-gray btn-xs" href="/report_management/reports/<%= @report.id %>/edit?sheet=3">3.Datos de Transformador</a>  

  <a title="" class="btn btn-gray btn-xs" href="/report_management/reports/<%= @report.id %>/edit?sheet=4">4.Análisis de Aceite</a>

  <a title="" class="btn btn-gray btn-xs" href="/report_management/reports/<%= @report.id %>/edit?sheet=5">5.Recomendaciones</a>

  <a title="" class="btn btn-gray btn-xs" href="/report_management/reports/<%= @report.id %>/edit?sheet=6">6.Conclusiones</a>  

  <a title="" class="btn btn-gray btn-xs" href="/report_management/reports/<%= @report.id %>/edit?sheet=7">7.Anexos</a>   
</p>