 
<table  class="table table-responsive bg-white rounded-3">
  <thead>
    <tr>
      <th class="text-nowrap text-start"colspan="4">Tipo de Prueba </th>
      <th class="text-nowrap text-center">Estado</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-nowrap text-start"style="width: 100%;" colspan="4">Factor de Potencia</td>
      <td class="text-nowrap text-center"><%= @last_factor.dgaf_condition_circle rescue "" %></td>      
    </tr>
    <tr>
      <td class="text-nowrap text-start"style="width: 100%;" colspan="4">Relación de Transformación</td>
      <td class="text-nowrap text-center"><%= @last_factor.dgaf_condition_circle rescue "" %></td>         
    </tr>
    <tr>
      <td class="text-nowrap text-start"style="width: 100%;" colspan="4">Corriente de Excitación</td>
      <td class="text-nowrap text-center"><%= @last_factor.dgaf_condition_circle rescue "" %></td>           
    </tr>      
    <tr>
      <td class="text-nowrap text-start"style="width: 100%;" colspan="4">Resistencia de Devanados</td>
      <td class="text-nowrap text-center"><%= @last_factor.dgaf_condition_circle rescue "" %></td>          
    </tr>                   
    <tr>
      <td class="text-nowrap text-start"style="width: 100%;" colspan="4">Resistencia de Aislamiento</td>
      <td class="text-nowrap text-center"><%= @last_factor.dgaf_condition_circle rescue "" %></td>            
    </tr>                                                     
  </tbody>
</table>  