<%= flash_messages %>
<table id="data-table-buttons-filter" class="table table-bordered table-hover">
  <thead>
    <tr class="text-center">
      <th>Ubicación</th>    
      <th>Área</th>       
      <th data-orderable="false" class="sorting_disabled"></th>             
    </tr>
    <tr class="text-center">
      <th>Ubicación</th>    
      <th>Área</th>       
      <td></td>              
    </tr>    
  </thead>
  <tbody>
    <% @list_customer_areas.each do |customer_area| %>
    <%# cache customer_area do %>
    <tr class="text-center">
      <td <% if customer_area.customer_location.deleted == 1 %>class="table-danger" <% end %> ><%= customer_area.customer_location.name.upcase %> 
        <% if customer_area.customer_location.deleted == 1 %> 
        <span class="badge bg-danger ms-1">Fue Borrado</span>
        <% end %>
      </td>   
      <td><%= customer_area.name.upcase %></td>                
      <td>
        <div class="widget-list-action">
          <a href="#" data-bs-toggle="dropdown" class="text-gray-500" aria-expanded="false"><i class="fa fa-ellipsis-h fs-14px"></i></a>
          <div class="dropdown-menu dropdown-menu-end" style="">        
            <%=link_to "<i class='fa fa-pencil'></i> Editar Área".html_safe, edit_customer_management_customer_customer_area_path(@customer,customer_area), class: "dropdown-item", title: "Editar"%>
            <div class="dropdown-divider"></div>
            <%= link_to "<i class='fa-solid fa-trash'></i> Eliminar Área".html_safe, customer_management_customer_customer_area_delete_path(@customer,customer_area), { class: "dropdown-item bg-danger text-white", title: "Eliminar"} %> 
          </div>
        </div>  
      </td>                   
    </tr>
    <%# end %> 
    <% end %>                  
  </tbody>
  
</table>