<%= nested_form_for [:factor_management, @factor],:html=>{'data-parsley-validate'=>"true", :autocomplete=>"off"} do |f| %> 
<!-- #modal-dialog -->
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Editar Factor de Potencia</h4>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
    </div>
    <div class="modal-body">
      <%= flash_messages %>
      <div id="nested_chromatographicals">
        <%= render :partial => 'factor_management/factors/partials/form_nested_modal_edit', :locals => {:f => f} %>
      </div>       

    </div>
    <div class="modal-footer">
      <a href="javascript:;" class="btn btn-white me-1 mb-1  rounded-pill" data-bs-dismiss="modal">Cerrar</a>
      <%= button_tag( :class => "btn btn-gray text-white   me-1 mb-1 rounded-pill") do %>
         <i class='fa-solid fa-floppy-disk'></i> Guardar Información
      <% end %>
    </div>
  </div>
</div> 
<% end %>

<%= render :partial =>"layouts/form_validation" %> 