<!-- BEGIN modal-dialog -->
<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Análisis Duval</h4>
  </div>
  <%=  form_for [:chromatographical_management, @chromatographical_duval],:html=>{:id=>"form_duvals",:class =>" text-start"} do |f|  %>
  <div class="modal-body">
    <div style="display: non;">
      <div class="alert alert-primary alert-dismissible fade show h-100 mb-0">
         Pentágono Duval. 
      </div>       
      <div class="duvalobject" style="display: non;">
        <label>Tipo 3</label>
        <div><label class="normal">Resultado: </label><input type="text" name="chromatographical_duval[pentagon_diag_first]" class="combine"></div>
      </div> 
      <div class="duvalobject" style="display: non;">
        <label>Tipo 1</label>
        <div><label class="normal">Resultado: </label><input type="text" name="chromatographical_duval[pentagon_diag_second]" class="normal"></div>
      </div>
      <div class="duvalobject" style="display: non;">
        <label>Tipo 2</label>
        <div><label class="faultzone">Resultado: </label><input type="text" name="chromatographical_duval[pentagon_diag_third]" class="faultzone"></div>
      </div>
      <div class="alert alert-primary alert-dismissible fade show h-100 mb-0">
         Triángulo Duval. 
      </div> 
      <div class="duvalobject" style="display: non;">
        <label>Tipo 1</label>
        <div><label class="type1">Resultado: </label><input type="text" name="chromatographical_duval[triangle_diag_first]" class="type1" id="type1" ></div>
      </div>
      <div class="duvalobject" style="display: non;">
        <label>Tipo 4</label>
        <div><label class="type4">Resultado: </label><input type="text" name="chromatographical_duval[triangle_diag_second]" class="type4"></div>
      </div>
      <div class="duvalobject" style="display: non;">
        <label>Tipo 5</label>
        <div><label class="type5">Resultado: </label><input type="text" name="chromatographical_duval[triangle_diag_third]" class="type5"></div>
      </div>

      <button id="btn_calcular_resultados" type="button" style="display: non;"> Calcular </button>
    </div>
    <div class="inputs" style="display:non;">
      <h3 id="head1">  Parámetros de Gases</h3>
      <div>
        <label>H2 = </label>
        <input type="number" id="h2" name="value5" value="<%= @last_chromatographical.num_hid   %>"/> 
      </div>
      <div>
        <label>C2H2 = </label>
        <input type="number" id="c2h2" name="value2" value="<%= @last_chromatographical.num_ace   %>"/>
      </div>
      <div>
        <label>C2H4 = </label>
        <input type="number" id="c2h4" name="value3" value="<%= @last_chromatographical.num_eti   %>"/> 
      </div>
      <div>
        <label>CH4 = </label>
        <input type="number" id="ch4" name="value1" value="<%= @last_chromatographical.num_met   %>"/>
      </div>
      <div>
        <label>C2H6 = </label>
        <input type="number" id="c2h6" name="value4" value="<%= @last_chromatographical.num_eta  %>"/>
      </div>
      <div type="all">

      </div>
    </div>
  </div>
  <div class="modal-footer">
     <button title="Análisis Duval" name="button" type="submit" id="btn_guardar_resultados" class="btn btn-gray text-white  me-1 mb-1 rounded-pill"><i class="fa-solid fa-chart-scatter"></i> Guardar Datos</button>             
  </div>
  <% end %>
</div>
    


<script>
  window.onload=function(){
   document.getElementById("btn_calcular_resultados").click();
   document.getElementById("btn_guardar_resultados").click();
   
  };
</script>   
  
<!-- END modal-dialog -->

<script>
var _CenterPoint = {x: 220, y: 220};
const _Ratio = 5;
const _TraingleRatio = 950.12;  //edited by CM era 400
var _StartPos = {x: (450 - _TraingleRatio ) / 2, y: (400 - _TraingleRatio ) / 2 + _TraingleRatio};
$(document).ready(function(){

  $("input").change(function(){
    $("button#btn_calcular_resultados").trigger("click");
  });
  $("button#btn_calcular_resultados").click(function(){
    let h2     = parseInt($("input#h2").val());
    let ch4   = parseInt($("input#ch4").val());
    let c2h2 = parseInt($("input#c2h2").val());
    let c2h4 = parseInt($("input#c2h4").val());
    let c2h6 = parseInt($("input#c2h6").val());

    calcMiddlePoint("type1", ch4, c2h4, c2h2);
    calcMiddlePoint("type4", h2, ch4, c2h6);
    calcMiddlePoint("type5", ch4, c2h4, c2h6);

    let total = ch4 + c2h2 + c2h4 + c2h6 + h2;
    //get percent
    let percentAry = [c2h2, c2h4, ch4, c2h6, h2], cpoints = [];
    let radianAry = [0.31416, 5.34071, 4.08407, 2.82743, 1.5708];
    percentAry = percentAry.map( x => parseFloat((x / total * 100)) );
    // console.log(percentAry);
    for(let i = 0; i < percentAry.length; i++){
      let pos = {x: 0, y: 0};
      pos.x = parseFloat( (percentAry[i] * Math.cos(radianAry[i])).toFixed(5) );
      pos.y = parseFloat( (percentAry[i] * Math.sin(radianAry[i])).toFixed(5) );
      cpoints[i] = pos;
    }
    //get Area del pentagonc
    let Area = 0;
    for(let i = 0; i < cpoints.length; i++){
      let vari = cpoints[i].x * cpoints[ (i+1)%cpoints.length ].y - cpoints[ (i+1)%cpoints.length ].x * cpoints[i].y;
      Area += vari;
    }
    Area /= 2;

    //get Centroide point
    let Cx = 0, Cy = 0;
    for(let i = 0; i < cpoints.length; i++){
      let cp = cpoints[i];
      let np = cpoints[ (i+1) % cpoints.length ];
      Cx += (cp.x + np.x) * (cp.x*np.y - np.x*cp.y);
      Cy += (cp.y + np.y) * (cp.x*np.y - np.x*cp.y);
    }
    Cx /= 6*Area;
    Cy /= 6*Area;

    drawMiddlePoint(_SegmentPos, Cx, Cy, "normal");
    drawMiddlePoint(_SegmentPosCombine, Cx, Cy, "combine");
    drawMiddlePoint(_SegmentPosFaultZone, Cx, Cy, "faultzone");
  });
});
function drawMiddlePoint(segment, cx, cy, type){
    // draw the polygon
    let startX = _CenterPoint.x + cx*_Ratio;
    let startY = _CenterPoint.y - cy*_Ratio;

    let currentArea = "";
    let point = {x: startX, y:startY};
    for(let i = 0; i < segment.length; i++){
      let points = segment[i].points;
      let polygon = [];
      for (var j = 0; j < points.length; j++) {
        let iPoint = {x: 0, y: 0};
        iPoint.x = _CenterPoint.x + points[j].x * _Ratio;
        iPoint.y = _CenterPoint.y - points[j].y * _Ratio;
        polygon.push(iPoint);
      }
      if (  IsPointInPolygon(point, polygon) )
        currentArea = segment[i].label.text;
    }
    
    let result = currentArea;
    $("div.duvalobject input."+type).val(result);
}

function IsPointInPolygon( p, polygon )
{
    let minX = polygon[ 0 ].x;
    let maxX = polygon[ 0 ].x;
    let minY = polygon[ 0 ].y;
    let maxY = polygon[ 0 ].y;
    for ( var i = 0 ; i < polygon.length ; i++ )
    {
        let q = polygon[ i ];
        if ( q.x < minX ) minX = q.x;
        if ( q.x > maxX ) maxX = q.x;
        if ( q.y < minY ) minY = q.y;
        if ( q.y > maxY ) maxY = q.y;
    }
    
    if ( p.x < minX || p.x > maxX || p.y < minY || p.y > maxY )
    {
        return false;
    }

    let inside = false;
    for ( let i = 0, j = polygon.length - 1 ; i < polygon.length ; j = i++ )
    {
        if ( ( polygon[ i ].y > p.y ) != ( polygon[ j ].y > p.y ) && p.x < ( polygon[ j ].x - polygon[ i ].x ) * ( p.y - polygon[ i ].y ) / ( polygon[ j ].y - polygon[ i ].y ) + polygon[ i ].x )
        {
            inside = !inside;
        }
    }

    return inside;
}

function calcMiddlePoint(type,p1,p2,p3){
  const total = p1 + p2 + p3;
  let percentAry = [p1, p2, p3], cpoints = [];
  percentAry = percentAry.map( x => parseFloat((x / total)) );

  const Cx = parseInt(calcRealPos(percentAry[0], percentAry[1]).x);
  const Cy = parseInt(calcRealPos(percentAry[0], percentAry[1]).y);
  // console.log(percentAry);
  switch(type){
    case "type1":
      drawTrianlgePoint($("input.type1"), _SegmentPosTriangle1, Cx, Cy);
      break;
    case "type4":
      drawTrianlgePoint($("input.type4"), _SegmentPosTriangle4, Cx, Cy);
      break;
    case "type5":
      drawTrianlgePoint($("input.type5"), _SegmentPosTriangle5, Cx, Cy);
      break;
  }
}
function drawTrianlgePoint(resultTarget, segment, startX, startY){
  // draw the polygon
  let currentArea = "";
  let point = {x: startX, y:startY};
  for(let i = 0; i < segment.length; i++){
    let points = segment[i].points;
    let polygon = [];
    for (var j = 0; j < points.length; j++) {
      let iPoint = {x: 0, y: 0};
      iPoint.x = parseInt( calcRealPos(points[j].p1, points[j].p2).x );
      iPoint.y = parseInt( calcRealPos(points[j].p1, points[j].p2).y ) ;
      polygon.push(iPoint);
    }
    if (  IsPointInPolygon(point, polygon) )
      currentArea = segment[i].label.text;
  }
  resultTarget.val(currentArea);
}

function calcRealPos(p1, p2){
  let returnPos = {x: 0, y: 0};
  returnPos.x = _StartPos.x + p2 * _TraingleRatio + p1 * _TraingleRatio * Math.cos(1.0472);
  returnPos.y = _StartPos.y - p1 * _TraingleRatio * Math.sin(1.0472);
  return returnPos;
}




var _MainPoints = [
    {
      x: 0,
      y: 40
    }, {
      x: 38,
      y: 12.4
    }, {
      x: 23.5,
      y: -32.4
    }, {
      x: -23.5,
      y: -32.4
    }, {
      x: -38,
      y: 12.4
    }, {
      x: 0,
      y: 40
    }
  ];

var _SegmentPos = [
    {
      points: [ {x: 0, y: 1.5}, {x: 0,y: -3}, {x: -6,y: -4}, {x: -22.5,y: -32.4}, {x: -23.5,y: -32.4}, {x: -35,y: 3.1}],
      fill: 'rgb(152,210,230)',
      label: { text: 'T1', cx: -25, cy: -12.5, withLine: false, endX: null, endY: null }
    },
    {
      points: [ {x: 0, y: 1.5}, {x: -35, y: 3.1 }, { x: -38, y: 12.4}, { x: 0, y: 40 } ],
      fill: 'rgb(173,236,225)',
      label: { text: 'S', cx: -20, cy: 20, withLine: false, endX: null, endY: null }
    }, 
    {
      points: [{ x: 0, y: 40 }, { x: 0, y: 1.5 }, { x: 4, y: 16 }, { x: 32, y: -6.1}, { x: 38, y: 12.4}, { x: 0, y: 40} ],
      fill: 'rgb(209,237,249)',
      label: { text: 'D1', cx: 20, cy: 20, withLine: false, endX: null, endY: null }
    }, 
    {
      points: [{ x: 32, y: -6.1}, {x: 4,y: 16}, { x: 0, y: 1.5}, { x: 0, y: -3},{ x: 24.3, y: -30 } ],
      fill: 'rgb(72,167,235)',
      label: { text: 'D2', cx: 25, cy: -15, withLine: false, endX: null, endY: null }
    }, 
    {
      points: [{ x: 0, y: -3}, { x: 24.3, y: -30}, { x: 23.5, y: -32.4}, { x: 1, y: -32.4},{ x: -6, y: -4}],
      fill: 'rgb(220,231,251)',
      label: {text: 'T3', cx: 9, cy: -25, withLine: false, endX: null, endY: null }
    }, 
    {
      points: [{ x: -6, y: -4}, { x: 1, y: -32.4}, { x: -22.5, y: -32.4}],
      fill: 'rgb(149,183,247)',
      label: {text: 'T2', cx: -8, cy: -20, withLine: false, endX: null, endY: null}
    }, 
    {
      points: [{ x: 0, y: 33}, { x: 0, y: 24.5}, { x: -1, y: 24.5}, { x: -1, y: 33 } ],
      fill: 'rgb(103,149,234)',
      label: { text: 'PD', cx: -5, cy: 28.5, withLine: true, endX: -1, endY: 33}
    }
];
var _SegmentPosFaultZone = [
    {
      points: [ {x: 0, y: 1.5}, {x: 0,y: -3}, {x: -6,y: -4}, {x: -11,y: -8}, {x: -21.5,y: -32.4}, {x: -23.5,y: -32.4}, {x: -35,y: 3.1}],
      fill: 'rgb(117,195,127)',
      label: { text: 'O', cx: -25, cy: -12.5, withLine: false, endX: null, endY: null }
    },
    {
      points: [ {x: 0, y: 1.5}, {x: -35, y: 3.1 }, { x: -38, y: 12.4}, { x: 0, y: 40 } ],
      fill: 'rgb(173,236,225)',
      label: { text: 'S', cx: -20, cy: 20, withLine: false, endX: null, endY: null }
    }, 
    {
      points: [{ x: 0, y: 40 }, { x: 0, y: 1.5 }, { x: 4, y: 16 }, { x: 32, y: -6.1}, { x: 38, y: 12.4}, { x: 0, y: 40} ],
      fill: 'rgb(209,237,249)',
      label: { text: 'D1', cx: 20, cy: 20, withLine: false, endX: null, endY: null }
    }, 
    {
      points: [{ x: 32, y: -6.1}, {x: 4,y: 16}, { x: 0, y: 1.5}, { x: 0, y: -3},{ x: 24.3, y: -30 } ],
      fill: 'rgb(72,167,235)',
      label: { text: 'D2', cx: 25, cy: -15, withLine: false, endX: null, endY: null }
    }, 
    {
      points: [{ x: 0, y: -3}, { x: 24.3, y: -30}, { x: 23.5, y: -32.4}, { x: 2.5, y: -32.4},{ x: -3.5, y: -3.5}],
      fill: 'rgb(219,193,225)',
      label: {text: 'T3-H', cx: 9, cy: -25, withLine: false, endX: null, endY: null }
    }, 
    {
      points: [{ x: -6, y: -4}, { x: -11, y: -8}, { x: -21.5, y: -32.4}, { x: 2.5, y: -32.4}, {x: -3.5, y: -3.5}],
      fill: 'rgb(110,177,170)',
      label: {text: 'C', cx: -8, cy: -20, withLine: false, endX: null, endY: null}
    }, 
    {
      points: [{ x: 0, y: 33}, { x: 0, y: 24.5}, { x: -1, y: 24.5}, { x: -1, y: 33 } ],
      fill: 'rgb(103,149,234)',
      label: { text: 'PD', cx: -5, cy: 28.5, withLine: true, endX: -1, endY: 33}
    }
];
var _SegmentPosCombine = [
    {
      points: [ {x: 0, y: 1.5}, {x: 0,y: -3}, {x: -6,y: -4}, {x: -11,y: -8}, { x: -19.8, y: -26.4}, {x: -22.5,y: -32.4}, {x: -23.5,y: -32.4}, {x: -35,y: 3.1}],
      fill: 'rgb(159,214,183)',
      label: { text: 'T1-O', cx: -25, cy: -12.5, withLine: false, endX: null, endY: null }
    },
    {
      points: [ {x: 0, y: 1.5}, {x: -35, y: 3.1 }, { x: -38, y: 12.4}, { x: 0, y: 40 } ],
      fill: 'rgb(173,236,225)',
      label: { text: 'S', cx: -20, cy: 20, withLine: false, endX: null, endY: null }
    }, 
    {
      points: [{ x: 0, y: 40 }, { x: 0, y: 1.5 }, { x: 4, y: 16 }, { x: 32, y: -6.1}, { x: 38, y: 12.4}, { x: 0, y: 40} ],
      fill: 'rgb(209,237,249)',
      label: { text: 'D1', cx: 20, cy: 20, withLine: false, endX: null, endY: null }
    }, 
    {
      points: [{ x: 32, y: -6.1}, {x: 4,y: 16}, { x: 0, y: 1.5}, { x: 0, y: -3},{ x: 24.3, y: -30 } ],
      fill: 'rgb(72,167,235)',
      label: { text: 'D2', cx: 25, cy: -15, withLine: false, endX: null, endY: null }
    }, 
    {
      points: [{ x: 0, y: -3}, { x: 24.3, y: -30}, { x: 23.5, y: -32.4}, { x: 2.5, y: -32.4},{ x: -3.5, y: -3.5}],
      fill: 'rgb(219,194,227)',
      label: {text: 'T3-H', cx: 9, cy: -25, withLine: false, endX: null, endY: null }
    },
    {
      points: [{ x: -6, y: -4}, { x: -3.5, y: -3.5}, { x: 2.5, y: -32.4}, { x: 1, y: -32.4} ],
      fill: 'rgb(252,252,252)',
      label: {text: 'T3-C', cx: 2, cy: -20, withLine: false, endX: null, endY: null}
    },
    {
      points: [{ x: -6, y: -4}, { x: 1, y: -32.4}, { x: -21.5, y: -32.4}, { x: -19.8, y: -26.4} ],
      fill: 'rgb(149,183,247)',
      label: {text: 'T2-C', cx: -8, cy: -30, withLine: false, endX: null, endY: null}
    },
    {
      points: [{ x: -6, y: -4}, { x: -11, y: -8}, { x: -19.8, y: -26.4} ],
      fill: 'rgb(255,253,255)',
      label: {text: 'T1-C', cx: -34, cy: -18, withLine: true, endX: -15.5, endY: -35.4}
    },
    {
      points: [{ x: -21.5, y: -32.4}, { x: -22.5, y: -32.4}, { x: -19.8, y: -26.4} ],
      fill: 'rgb(255,255,253)',
      label: {text: 'T2-O', cx: -32, cy: -28, withLine: true, endX: -21.5, endY: -35.4}
    },
    {
      points: [{ x: 0, y: 33}, { x: 0, y: 24.5}, { x: -1, y: 24.5}, { x: -1, y: 33 } ],
      fill: 'rgb(103,149,234)',
      label: { text: 'PD', cx: -5, cy: 28.5, withLine: true, endX: -1, endY: 33}
    }
];

var _SegmentPosTriangle1 = [
  {
    points: [ {p1: 0, p2: 0, p3: 1}, {p1: 0, p2: 0.23, p3: 0.77}, {p1: 0.64, p2: 0.23, p3: 0.13}, {p1: 0.87, p2: 0, p3: 0.13} ],
    fill: 'rgb(190,232,255)',
    label: { text: 'D1', cx: 0.08, cy: -0.04, withLine: false, endX: null, endY: null }
  },
  {
    points: [ {p1: 0, p2: 0.23, p3: 0.77}, {p1: 0, p2: 0.71, p3: 0.29}, {p1: 0.31, p2: 0.4, p3: 0.29}, {p1: 0.47, p2: 0.4, p3: 0.13}, {p1: 0.64, p2: 0.23, p3: 0.13} ],
    fill: 'rgb(35,107,254)',
    label: { text: 'D2', cx: -0.04, cy: 0.52, withLine: false, endX: null, endY: null }
  },
  {
    points: [ {p1: 0, p2: 0.71, p3: 0.29}, {p1: 0, p2: 0.85, p3: 0.15}, {p1: 0.35, p2: 0.5, p3: 0.15}, {p1: 0.46, p2: 0.5, p3: 0.04}, {p1: 0.96, p2: 0, p3: 0.04}, {p1: 0.87, p2: 0, p3: 0.13}, {p1: 0.47, p2: 0.4, p3: 0.13}, {p1: 0.31, p2: 0.4, p3: 0.29} ],
    fill: 'rgb(0,132,189)',
    label: { text: 'DT', cx: -0.04, cy: 0.78, withLine: false, endX: null, endY: null }
  },
  {
    points: [ {p1: 0.76, p2: 0.2, p3: 0.04}, {p1: 0.8, p2: 0.2, p3: 0}, {p1: 0.8, p2: 0.2, p3: 0}, {p1: 0.98, p2: 0.02, p3: 0}, {p1: 0.98, p2: 0, p3: 0.02}, {p1: 0.96, p2: 0, p3: 0.04} ],
    fill: 'rgb(97,200,241)',
    label: { text: 'T1', cx: 0.92, cy: 0.12, withLine: false, endX: null, endY: null }
  },
  {
    points: [ {p1: 0.46, p2: 0.5, p3: 0.04}, {p1: 0.5, p2: 0.5, p3: 0}, {p1: 0.8, p2: 0.2, p3: 0}, {p1: 0.76, p2: 0.2, p3: 0.04} ],
    fill: 'rgb(145,148,255)',
    label: { text: 'T2', cx: 0.7, cy: 0.34, withLine: false, endX: null, endY: null }
  },
  {
    points: [ {p1: 0, p2: 0.85, p3: 0.15}, {p1: 0, p2: 1, p3: 0}, {p1: 0.5, p2: 0.5, p3: 0}, {p1: 0.35, p2: 0.5, p3: 0.15} ],
    fill: 'rgb(218,220,255)',
    label: { text: 'T3', cx: 0.3, cy: 0.75, withLine: false, endX: null, endY: null }
  },
  {
    points: [ {p1: 0.98, p2: 0.02, p3: 0}, {p1: 1, p2: 0, p3: 0}, {p1: 0.98, p2: 0, p3: 0.02} ],
    fill: 'rgb(87,56,191)',
    label: { text: 'PD', cx: 1.02, cy: -0.01, withLine: false, endX: null, endY: null }
  },
  
];
var _SegmentPosTriangle4 = [
  {
    points: [ {p1: 0, p2: 0, p3: 1}, {p1: 0.09, p2: 0, p3: 0.91}, {p1: 0.09, p2: 0.61, p3: 0.3}, {p1: 0, p2: 0.7, p3: 0.3} ],
    fill: 'rgb(0,211,121)',
    label: { text: 'O', cx: 0.08, cy: -0.04, withLine: false, endX: null, endY: null }
  },
  {
    points: [ {p1: 0.09, p2: 0, p3: 0.91}, {p1: 0.54, p2: 0, p3: 0.46}, {p1: 0.09, p2: 0.45, p3: 0.46}],
    fill: 'rgb(50,218,178)',
    label: { text: 'ND', cx: 0.3, cy: -0.04, withLine: false, endX: null, endY: null }
  },
  {
    points: [ {p1: 0.54, p2: 0, p3: 0.46}, {p1: 1, p2: 0, p3: 0}, {p1: 0.64, p2: 0.36, p3: 0}, {p1: 0.4, p2: 0.36, p3: 0.24}, {p1: 0.15, p2: 0.61, p3: 0.24}, {p1: 0.15, p2: 0.55, p3: 0.3}, {p1: 0.09, p2: 0.61, p3: 0.3}, {p1: 0.09, p2: 0.61, p3: 0.3}, {p1: 0.09, p2: 0.45, p3: 0.46}],
    fill: 'rgb(89,240,232)',
    label: { text: 'S', cx: 0.75, cy: -0.04, withLine: false, endX: null, endY: null }
  },
  {
    points: [ {p1: 0.64, p2: 0.36, p3: 0}, {p1: 0.4, p2: 0.36, p3: 0.24}, {p1: 0.15, p2: 0.61, p3: 0.24}, {p1: 0.15, p2: 0.55, p3: 0.3}, {p1: 0, p2: 0.7, p3: 0.3}, {p1: 0, p2: 1, p3: 0} ],
    fill: 'rgb(0,177,174)',
    label: { text: 'C', cx: -0.03, cy: 0.9, withLine: false, endX: null, endY: null }
  },
  {
    points: [ {p1: 0.98, p2: 0.02, p3: 0}, {p1: 0.85, p2: 0.15, p3: 0}, {p1: 0.84, p2: 0.15, p3: 0.01}, {p1: 0.97, p2: 0.02, p3: 0.01} ],
    fill: 'rgb(98,40,227)',
    label: { text: 'PD', cx: 0.97, cy: 0.08, withLine: false, endX: null, endY: null }
  },
  
];
var _SegmentPosTriangle5 = [
  {
    points: [ {p1: 0, p2: 0, p3: 1}, {p1: 0.45, p2: 0, p3: 0.55}, {p1: 0.35, p2: 0.1, p3: 0.55}, {p1: 0, p2: 0.1, p3: 0.9} ],
    fill: 'rgb(0,211,121)',
    label: { text: 'O', cx: 0.08, cy: -0.04, withLine: false, endX: null, endY: null }
  },
  {
    points: [ {p1: 0.45, p2: 0, p3: 0.55}, {p1: 0.35, p2: 0.1, p3: 0.55}, {p1: 0.74, p2: 0.1, p3: 0.16}, {p1: 0.84, p2: 0, p3: 0.16}],
    fill: 'rgb(89,240,232)',
    label: { text: 'S', cx: 0.67, cy: -0.04, withLine: false, endX: null, endY: null }
  },
  {
    points: [ {p1: 0.74, p2: 0.1, p3: 0.16}, {p1: 0.84, p2: 0, p3: 0.16}, {p1: 1, p2: 0, p3: 0}, {p1: 0.9, p2: 0.1, p3: 0} ],
    fill: 'rgb(0,211,121)',
    label: { text: 'O', cx: 0.98, cy: 0.06, withLine: false, endX: null, endY: null }
  },
  {
    points: [ {p1: 0.9, p2: 0.1, p3: 0}, {p1: 0.77, p2: 0.1, p3: 0.13}, {p1: 0.52, p2: 0.35, p3: 0.13}, {p1: 0.65, p2: 0.35, p3: 0} ],
    fill: 'rgb(145,148,255)',
    label: { text: 'T2', cx: 0.78, cy: 0.28, withLine: false, endX: null, endY: null }
  },
  {
    points: [ {p1: 0.52, p2: 0.35, p3: 13}, {p1: 0.65, p2: 0.35, p3: 0}, {p1: 0, p2: 1, p3: 0}, {p1: 0, p2: 0.7, p3: 0.3}, {p1: 0.17, p2: 0.7, p3: 0.13}, {p1: 0.37, p2: 0.5, p3: 0.13}, {p1: 0.38, p2: 0.5, p3: 0.12} ],
    fill: 'rgb(218,220,255)',
    label: { text: 'T3', cx: -0.04, cy: 0.95, withLine: false, endX: null, endY: null }
  },
  {
    points: [ {p1: 0, p2: 0.7, p3: 0.3}, {p1: 0.17, p2: 0.7, p3: 0.13}, {p1: 0.37, p2: 0.5, p3: 0.13}, {p1: 0.38, p2: 0.5, p3: 0.12}, {p1: 0.78, p2: 0.1, p3: 0.12}, {p1: 0.6, p2: 0.1, p3: 0.3} ],
    fill: 'rgb(0,177,174)',
    label: { text: 'C', cx: -0.03, cy: 0.72, withLine: false, endX: null, endY: null }
  },
  {
    points: [ {p1: 0, p2: 0.7, p3: 0.3}, {p1: 0.35, p2: 0.35, p3: 0.3}, {p1: 0, p2: 0.35, p3: 0.65}],
    fill: 'rgb(218,220,255)',
    label: { text: 'T3', cx: -0.04, cy: 0.55, withLine: false, endX: null, endY: null }
  },
  {
    points: [ {p1: 0.35, p2: 0.35, p3: 0.3}, {p1: 0, p2: 0.35, p3: 0.65}, {p1: 0, p2: 0.1, p3: 0.9}, {p1: 0.6, p2: 0.1, p3: 0.3} ],
    fill: 'rgb(50,218,178)',
    label: { text: 'ND', cx: -0.04, cy: 0.30, withLine: false, endX: null, endY: null }
  },
  {
    points: [ {p1: 0.85, p2: 0, p3: 0.15}, {p1: 0.98, p2: 0, p3: 0.02}, {p1: 0.97, p2: 0.01, p3: 0.02}, {p1: 0.85, p2: 0.01, p3: 0.14} ],
    fill: 'rgb(255,0,0)',
    label: { text: 'PD', cx: 0.94, cy: -0.05, withLine: false, endX: null, endY: null }
  },
  
];
//https://codepen.io/carlosmola6la/pen/jOadmmP
//https://tr.mydentistcorin.com/cromas/23.json

// let _RegistryData = [ // hid : H2, met : CH4, eti : C2H4 , eta : C2H6, ace : C2H2
//   {"id":36,"transformer_id":23,"str_date_rehearsal":"23-01-2022","num_hid":7,"num_met":33,"num_eti":23,"num_eta":3,"num_ace":2},
//   {"id":37,"transformer_id":23,"str_date_rehearsal":"18-12-2021","num_hid":7,"num_met":3,"num_eti":21,"num_eta":3,"num_ace":1},
//   {"id":38,"transformer_id":23,"str_date_rehearsal":"17-11-2021","num_hid":6,"num_met":2,"num_eti":21,"num_eta":3,"num_ace":1},
//   {"id":39,"transformer_id":23,"str_date_rehearsal":"06-10-2021","num_hid":5,"num_met":2,"num_eti":21,"num_eta":1,"num_ace":1},
//   {"id":40,"transformer_id":23,"str_date_rehearsal":"08-09-2021","num_hid":5,"num_met":1,"num_eti":20,"num_eta":1,"num_ace":1},
//   {"id":41,"transformer_id":23,"str_date_rehearsal":"05-03-2022","num_hid":37,"num_met":85,"num_eti":10,"num_eta":19,"num_ace":5},
//   {"id":50,"transformer_id":23,"str_date_rehearsal":"09-03-2022","num_hid":0,"num_met":2,"num_eti":0,"num_eta":1,"num_ace":30}
// ];
// let _RegistryPosition = [];

</script>

