<% title "Editar" %>
<%= links  link_to 'Notificaciones', [:notification_management,:user_notifications] %> 
 
 
<!-- begin page-header -->
<h1 class="page-header">Editar Notificación</h1>
<!-- end page-header -->

<!-- begin form-->
<%= render :partial =>"notification_management/user_notifications/partials/form",  user_notification: @user_notification %>
<!-- end form-->

<!-- begin layout-->
<%= render :partial =>"layouts/app_bottom_script" %>
<%= render :partial =>"layouts/form_validation" %>
<%= render :partial =>"layouts/form_plugins" %>
<!-- end layout-->