<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<!-- PAGINA 1 -->
<%= @report.sheet1.html_safe rescue "" %>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> 
<p style="page-break-before: always">

<!-- PAGINA 2 -->
<%= @report.sheet2.html_safe rescue "" %>
<p style="page-break-before: always">

<!-- PAGINA 3 -->
<%= @report.sheet3.html_safe rescue "" %>
<p style="page-break-before: always"> 

<!-- PAGINA 4 -->
<%= @report.sheet4.html_safe rescue "" %>
<p style="page-break-before: always"> 

<!-- PAGINA 5 -->
<%= @report.sheet5.html_safe rescue "" %>
<p style="page-break-before: always"> 

<!-- PAGINA 6 -->
<%= @report.sheet6.html_safe rescue "" %>
<p style="page-break-before: always"> 

<!-- PAGINA 7 -->
<%= @report.sheet7.html_safe rescue "" %>
<p style="page-break-before: always"> 

</body>
</html> 