<% title "Nuevo" %>
<%= links  link_to 'Configuraciones', [:configuration_management,:configurations] %> 
<%= links  link_to 'Marcas', [:oil_type_management,:oil_types] %> 
 
<!-- begin page-header -->
<h1 class="page-header">Nuevo Tipo de Aceite</h1>
<!-- end page-header -->

<!-- begin form-->
<%= render 'form', oil_type: @oil_type %>
<!-- end form-->

<!-- begin layout-->
<%= render :partial =>"layouts/app_bottom_script" %>
<%= render :partial =>"layouts/form_validation" %>
<%#= render :partial =>"layouts/form_plugins" %>
<!-- end layout-->