<% title "Auditoría" %>
 
 
<div class="panela">
  <!-- begin panel-body -->
  <div class="panel-body">
    <h4 class="page-header">
    <i class="fa-solid fa-glasses"></i> Auditoría
    <% if @user_permission.include?(155) %>
    <a class="btn btn-gray btn-xs" href="/audit_management/admin_audits">Vista Admin</a>
    <% end %>
    </h4>
    <h6>Total de Registros: <%= @audits.size %></h6>

  
     
  </div>
  <!-- end panel-body -->
</div>
<!-- end panel -->
 
  <hr>

<!-- begin row -->
<div class="row">
  <!-- begin col-10 -->
  <div class=" ">
    <!-- begin panel -->
    <div class="panel panel-inverse">
      <!-- begin panel-heading -->
      <div class="panel-heading">
        <h4 class="panel-title">Listado de Registros</h4>
        <%= render :partial =>"layouts/panel_heading" %>
      </div>
      <!-- end panel-heading -->
      <!-- begin alert -->
      <%= flash_messages %>
      <!-- end alert -->
      <!-- begin panel-body -->
      <div class="panel-body table-responsive">
         <%= render :partial =>"audit_management/audits/partials/table" %>

      </div>
      <!-- end panel-body -->
    </div>
    <!-- end panel -->
  </div>
  <!-- end col-10 -->
</div>
<!-- end row -->
 

<%= render :partial =>"layouts/app_bottom_script" %>
<%= render :partial =>"layouts/table_manage_buttons" %>
 