<%= flash_messages %>
<div id="myModal">
<%= form_for [:customer_management, @customer_substation],:html=>{'data-parsley-validate'=>"true", :class=>"form-bordered",:autocomplete=>"off"} do |f| %> 
<!-- begin form -->
<div class="modal-header">
  <h4 class="modal-title">Nueva Subestación</h4>
 </div>
<div class="modal-body">
  <div class="col-md-12">
    <div class="form-group row m-b-15">
      <label class="col-md-2 col-sm-4 col-form-label">Ubicación</label>
      <div class="col-md-10 col-sm-8">
        <select id="first_array" data-parsley-required="true">
          <option value="">Seleccione</option>
        </select>
      </div>
    </div>
  </div>
  <br>      
  <div class="col-md-12">
    <div class="form-group row m-b-15">
      <label class="col-md-2 col-sm-4 col-form-label">Área</label>
      <div class="col-md-10 col-sm-8">
        <select id="second_array" name="customer_substation[customer_area_id]" data-parsley-required="true">
        </select>
      </div>
    </div>
  </div>
  <br>         
  <div class="col-md-12">
    <div class="form-group row m-b-15">
      <label class="col-md-2 col-sm-4 col-form-label">Subestación</label>
      <div class="col-md-10 col-sm-8">
          <%= f.hidden_field :customer_id , :value => params[:customer_id] %>
          <%= f.text_field :name, class: 'form-control','data-parsley-required'=>"true" , placeholder: "Por favor completar.",:onkeyup=>"this.value = this.value.toUpperCase();", :style=>"text-transform:uppercase" %>
      </div>
    </div>
  </div>
</div>
<!-- end modal-body -->
<!-- begin modal-footer -->
<div class="text-center">
 <button name="button" type="submit" class="btn btn-gray  me-1 mb-3 rounded-pill">
   <i class="fa-solid fa-floppy-disk"></i> Guardar Subestación
 </button>
</div>
<!-- end modal-footer -->
<!-- end form -->
<% end %>
</div>

<!-- begin select2 -->
<%= render :partial =>"customer_management/customer_substations/partials/select2_new" %>
<!-- end select2 -->