<% title "Nuevo" %>
<%= links  link_to 'Configuraciones', [:configuration_management,:configurations] %> 
<%= links  link_to 'Tipo de Conexiones', [:connection_type_management,:connection_types] %> 
 
<!-- begin page-header -->
<h1 class="page-header">Nueva Tipo de Conexión</h1>
<!-- end page-header -->

<!-- begin form-->
<%= render 'form', connection_type: @connection_type %>
<!-- end form-->

<!-- begin layout-->
<%= render :partial =>"layouts/app_bottom_script" %>
<%= render :partial =>"layouts/form_validation" %>
<%#= render :partial =>"layouts/form_plugins" %>
<!-- end layout-->