<li class="<%= active_link_to_class(physical_management_transformer_physicals_path(@transformer), :active => :exclusive)  %>">
  <a href="<%= physical_management_transformer_physicals_path(@transformer.id) %>"  class="btn btn-default w-100 mb-2 text-start"><i class="fa fa-search"></i> Búsqueda</a> 
</li>
<li>
  <a href="<%= physical_management_transformer_physicals_path(@transformer.id) %>" class="btn btn-default w-100 mb-2 text-start"><i class="fa fa-broom"></i> Limpiar Búsqueda</a> 
</li>    
<li class="<%= active_link_to_class(new_physical_management_transformer_physical_path(@transformer), :active => :exclusive)  %>">
  <% if @user_permission.include?(50) %>
  <%= link_to "<i class='fa-solid fa-plus'></i> Crear Ensayo".html_safe,new_physical_management_transformer_physical_path(@transformer.id) , { class: "btn btn-default w-100 mb-2 text-start"} %>
  <% end %>            
</li>
<li>
  <% if @user_permission.include?(95) %>
  <%= link_to "<i class='fa-solid fa-table-cells'></i> Modificar Tabla".html_safe,new_physical_management_transformer_table_physical_path(@transformer.id) , { class: "btn btn-default w-100 mb-2 text-start" } %>
  <% end %>                 
</li>
<li class="<%= active_link_to_class(physical_management_transformer_ieee_graphs_path(@transformer), :active => :exclusive)  %>">
  <% if @user_permission.include?(54) %>
  <%= link_to "<i class='fa fa-chart-line'></i> Tendencia".html_safe, physical_management_transformer_ieee_graphs_path(@transformer.id) ,{ class: "btn btn-default w-100 mb-2 text-start"} %>
  <% end %>
</li>  
<li class="<%= active_link_to_class(physical_management_transformer_posts_path(@transformer), :active => :exclusive)  %>">  
  <% if @user_permission.include?(99) %>
  <%= link_to "<i class='fa fa-list-timeline '></i> Eventos Importantes".html_safe, physical_management_transformer_posts_path(@transformer.id)  ,{ class: "btn btn-default w-100 mb-2 text-start"} %>
  <% end %>                 
</li> 

<li>     
  <% if @user_permission.include?(95) %>
  <%= link_to "<i class='fa fa-upload '></i> Importar Datos".html_safe, new_physical_management_transformer_physical_upload_path(@transformer.id)  ,{ class: "btn btn-default w-100 mb-2 text-start"} %>
  <% end %>                 
</li>  